# ignore original dataset
test/
train/

# ignore "."
.DS_Store
.idea
.ipynb_checkpoints

# ignore some file
__pycache__
./final_project_demo.py
./Policy_Gradient_demo.py

# ignore generate file

# ignore pyc
*.pyc
